@font-face {
    font-family: 'Norse Bold';
    src: url('fonts/norse-bold-webfont.woff') format(woff),
        url('fonts/norse-bold-webfont.woff2') format(woff2);
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 30%;
    background-image: url('welcome.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.centerer {
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.logo-part {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    height: 16vh;
}

.logo-part p {
    font-family: 'Norse Bold';
    font-size: 10vh;
}

.logo-part img {
    height: 14vh;
}

.credit {
    margin-top: auto;
    display: flex;
    align-items: flex-end;
    margin-bottom: 1vh;
}

.form-part {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.caption {
    height: 40vh;
    background-color: #f9fafb;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.caption p {
    font-size: 20px;
    margin: 0 18em 2em 2em;
    font-weight: 500;
}

.form {
    height: 30vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.submit {
    height: 30vh;
    background-color: #f9fafb;
}
