@font-face {
    font-family: 'Norse Bold';
    src: url('fonts/norse-bold-webfont.woff') format(woff),
        url('fonts/norse-bold-webfont.woff2') format(woff2);
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 30%;
    background-image: url('welcome.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.centerer {
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.logo-part {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    height: 16vh;
}

.logo-part p {
    font-family: 'Norse Bold';
    font-size: 10vh;
}

.logo-part img {
    height: 14vh;
}

.credit {
    margin-top: auto;
    display: flex;
    align-items: flex-end;
    margin-bottom: 1vh;
}

.form-part {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.caption {
    height: 40vh;
    background-color: #f9fafb;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.caption p {
    font-size: 20px;
    margin: 0 23rem 3rem 3rem;
    font-weight: 500;
}


.form {
    height: 30vh;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.3);
}

.form p {
    font-size: 20px;
    margin: 1rem 0 1rem 3rem;
    font-weight: 500;
}

.container-form {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin-left: 3rem; 
    font-size: 0.8rem;
    font-weight: 500;
    width: 30%;
    color: #2d2d2d;
}


.left, .right {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 1rem;
    padding: 0 5rem 0 0;
    font-size: 1.2rem;
    color: #2d2d2d;
    outline: none;
}

input:focus {
    border-color: #007bff;
    box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);

}

input:focus:invalid {
    border-color: red;

}



.submit {
    height: 30vh;
    background-color: #f9fafb;
    display: flex;
    flex-direction: column;
}

.containersub {
    margin: 1rem 0 0 3rem;
}

.submit button {
    width: 20%;
    padding: 0.7rem ;
    border-radius: 14px;
    border: none;
    background-color: #596D48;
    color: white;
    font-weight: 600;   
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin-bottom: 2rem;
}

a {
    color: #596D48;
    font-weight: 600;
}

